{% extends 'indexTemplate.html.twig' %}

{% block title %}Gestor incidencias{% endblock %}

{% block body %}

    <div class="container">

        <div class="row mb-5 mt-5 card">

            <div class="col-12 justify-content-center text-center mt-5 mb-3">

                <h3 class="mb-4">Cantidad de incidencias por categoría</h3>

                <div class="col-12 col-sm-6 text-center float-left">
                    <h5>Incidencias abiertas</h5>
                    <canvas id="abiertas"></canvas>
                </div>

                <div class="col-12 col-sm-6 text-center float-right">
                    <h5>Incidencias cerradas</h5>
                    <canvas id="cerradas"></canvas>
                </div>

            </div>

            <hr>

            <div class="col-12 justify-content-center text-center mt-5">

                <h3 class="mb-4">Primeros 5 tecnicos com más incidencias realizadas este año</h3>

                <canvas id="lineChart"></canvas>

            </div>

        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/modules/chart.js') }}"></script>
    <script src="{{ asset('js/estadisticas.js') }}"></script>
{% endblock %}